*.suo
mode7video/Debug/mode7video.Build.CppClean.log
mode7video/Debug/mode7video.log
*.obj
*.tlog
*.log
mode7video.VC.db
mode7video.VC.VC.opendb
*.iobj
*.ipdb
mode7video/Release/vc140.pdb
mode7video/Debug/vc140.idb
mode7video/Debug/vc140.pdb
badappl/frames
badappl/delta
badappl/bin
[HD] Touhou - Bad Apple!! [] (Shadow Art)-UkgK8eUdpAo.mp4
[HD] Touhou - Bad Apple!! [] (Shadow Art)-UkgK8eUdpAo.mp4
